body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #111;
    color: #eee;
}

h1 {
    text-align: center;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    max-width: 400px;
    text-align: center;
}
